// routes transition animation
.fade-enter-active {
  transition: opacity 0.8s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

html * {
  font-family: 'EB Garamond', serif;
  font-family: 'Oswald', sans-serif;
}