// GLOBAL COLORS
$color-white: #fff;
$color-body: #1e2221;
$color-error: red;

$color-line: #eceae8;
$color-black-transparent: rgba(27, 31, 35, 0.15);

// fonts color
$color-font-main: #5a5a5a;
$color-font-dim: #ccc;

$color-gray-300: #cccccc;
$color-gray-500: #bebebe;

$color-light-shade: #F4F5F4;
$color-light-accent: rgb(236, 240, 239);
$color-main: rgb(57, 46, 211);
$color-dark-accent: #B83C57;
$color-dark-shade: #aaa8b6;