@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Nunito');

body, html { overflow-y: visible}
body { @apply .bg-gray-1000}

html * {
  font-family: 'Muli', sans-serif;
}

.font-nunito {
  font-family: 'Nunito', sans-serif !important;
}

a {
  text-decoration: none;
}

button:focus {outline:0;}
