.top-nav-item {
  @apply mr-4 font-semibold;
}

.top-nav-item:hover {
  @apply;
}

.btn {
  @apply font-bold py-2 px-4 rounded;
}

.btn-xs {
  @apply font-bold p-1 rounded;
}

.btn-xs-rounded {
  @apply font-bold p-1 rounded-full;
}

.btn-brand {
 @apply;
}

.btn-brand:hover {
  @apply;
}

.btn-brand:focus {
  @apply;
}

.btn-action {
  @apply text-white;
}

.btn-action:hover {
  @apply text-purple-600;
}

.btn-primary {
  @apply bg-purple-500 text-white py-2 px-4 rounded;
 }
 
 .btn-primary:hover {
   @apply bg-purple-700;
 }
 
 .btn-primary:focus {
   @apply;
 }

 .btn-social {
  @apply text-center bg-black text-white rounded shadow-lg px-2 py-2;
 }
 
 .btn-social:hover {
   @apply bg-gray-900;
 }
 
 .btn-social:focus {
   @apply bg-gray-800;
 }

 .background-gradient {
  background: rgb(22,26,31);
  background: -moz-linear-gradient(top,  rgb(22,26,31) 0%, rgb(12,14,20) 100%);
  background: -webkit-linear-gradient(top,  rgb(22,26,31) 0%,rgb(12,14,20) 100%);
  background: linear-gradient(to bottom,  rgb(22,26,31) 0%,rgb(12,14,20) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#161a1f', endColorstr='#0c0e14',GradientType=0 );
}

.footer-gradient {
  background: rgb(22,26,31);
  background: -moz-linear-gradient(right,  rgb(22,26,31) 0%, rgb(12,14,20) 100%);
  background: -webkit-linear-gradient(right,  rgb(22,26,31) 0%,rgb(12,14,20) 100%);
  background: linear-gradient(to left,  rgb(22,26,31) 0%,rgb(12,14,20) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#161a1f', endColorstr='#0c0e14',GradientType=0 );
}