@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Nunito');

body, html { overflow-y: visible}
body { @apply .bg-gray-900}

html * {
  font-family: 'Muli', sans-serif;
}

.font-nunito {
  font-family: 'Nunito', sans-serif !important;
}

a {
  text-decoration: none;
}

button:focus {outline:0;}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s easy;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}